.login_container{
    width: 100%;
    text-align:center;
    /* padding: 2rem 1rem; */
}
.login_container form{
display: grid;
gap: 2rem;
max-width: 400px;
width: 100%;
margin: 0 auto;
}
form input{
    padding: 9px;
    outline: none;
    border-radius: .4rem;
    border: 1px solid gray;

}
.login_container form button{
    max-width: 140px;
    width: 100%;
    margin: 0 auto;
    border-radius: .4rem;
    padding: 10px;
    border: 1px solid gray;

}