.new_users{
    display: grid;
    place-items: center;
    gap: 5px;
    width: 100%;
    }
    .new_users .users{
       box-shadow: 0 2px 12px rgba(138, 137, 136, 0.4);
        display: grid;
        gap: 2rem;
        padding: 1rem;
        width: 100%;
      max-width: 450px;
    }
    .new_users .user {
      display: flex;
      justify-content: space-around;
      align-items: center;
      }
   .new_users .user .title{
    display: grid;
    flex: 1;
    gap: 5px;
   }
   .new_users .user .title span:first-child{
    font-weight: 500;
   }
   .new_users .user .email{
    flex: 1;
   }
    
   
 
    .new_users .heading, .heading, .products_chart .heading{
      color:var(--primary);

    }
    
    .new_users .users .more{
        color: rgb(140, 138, 8);
     
    }
    
  
    .products_chart  {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

   