
.information .members{
    display: grid;
    gap:2rem;
    place-items: center;
    margin:1rem 0;
    background:rgb(219, 210, 210);
}

.new_members {
   box-shadow: 0 2px 12px rgba(215, 100, 43, 0.4);
   padding: 5px 20px;
   max-width: 450px;
   width: 100%;
   background:#fff;
 height: auto;

}
.new_members .member{
    margin: 1rem 0;
}
.new_members .heading{
    margin-left: 2rem;
  
}
.information .new_members .member{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
.new_members .member .title *{
    margin: 5px 0;
display: block;
}

.information .new_members .member .title span:nth-child(1){
    font-weight: bold;
}
.information .new_members img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}


.new_members .member .more{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: rgb(197, 195, 195);
    padding: 5px 10px;
    border-radius: 5px;
}




@media screen and (min-width:1050px) {
    .information .members{
        display: flex;
        width:100%;
        gap: 1rem;
        justify-content: space-around;
        padding: 1rem;
        align-items: flex-start;
        
        }
}

