.information{
display: grid;
place-items: center;
gap: 1rem;
width: 100%;
margin: 1rem 0;
}

@media screen {
    
}

.new_members {
   box-shadow: 0 2px 12px rgba(215, 100, 43, 0.4);
   padding: 5px 20px;
  width: 100%;
  max-width: 450px;
 height: auto;

}
.new_members .member{
    display: flex;
    margin: 1rem 0;
justify-content: space-between;
/* max-width: 450px; */
    /* justify-content: space-around; */
}

.new_members .heading{
    margin-left: 2rem;
  
}


.new_members  .title *{
    margin: 5px 0;
display: block;
}

.information .new_members .member .title span:nth-child(1){
    font-weight: bold;
}
.information .new_members img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}


.new_members .member .more{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: rgb(181, 202, 236);
    padding: 5px 10px;
    border-radius: 5px;
}


.information .latest_tsx{
 box-shadow: var(--shadow-1);
max-width: 550px;
padding: 4px 10px;
width: 100%;
}


.latest_tsx  .heading{
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
}
.latest_tsx .customer h4{
    font-weight: 500;
}
.latest_tsx .table {
    display: grid;
    gap: 1rem;
}
.latest_tsx table thead tr{
margin-bottom: 1rem;
   font-weight: 500;
}
.latest_tsx table thead tr , .latest_tsx table tbody tr {

display: flex;
gap: 4rem;
justify-content: space-evenly;
align-items: center;
}
.latest_tsx table tbody .customer *{
    display: block;
    margin: 5px 0;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.latest_tsx .table .table_head .table_row{
font-weight: bold;
}

.information .latest_tsx table tbody img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.information .latest_tsx table tbody .button_Declined{
 
  color: red;
    height: 2rem;
    
}
.button_Approved{
    color: green;
}
.button_Pending{
    color: blue;
}




@media screen and (min-width:1200px) {
    .information {
     justify-content: space-around;
        
        display: flex;
flex-wrap: wrap;
        }
}

