.new_product{
    display: grid;
  padding:0 10px;
}
.new_product .heading{
    text-align: center;
}
.new_product form {
    margin: 0 auto;
    display: grid;
    gap: 15px;
max-width: 500px;

}
.new_product form .form_control{
    display: grid;
    gap: 5px;
}

.new_product form .create_btn{
    margin: 1rem 0;
    padding:10px  15px;
    width: fit-content;
    border: none;
    font-size: 1.4rem;
    background: var(--primary);
    border-radius: 5px;
    color: #fff;
    cursor:pointer;
}
.new_product form .create_btn:disabled{
    opacity:0.5;
}
.new_product form .form_control .select  {
    width: 140px;
}