.topbar {
  display: flex;
  height: 12vh;
  font-size: 1.7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 50;
  background: #fff;
  top: 0;
  left: auto;
  width: 100%;
  padding: 0 1rem;
  max-width: 1400px;
}
.topbar .left {
  cursor: pointer;
  display: grid;
}
.topbar .left .logo{
  display: none;
}
.topbar .left .menu_icon{
  display: block;
}

@media screen and (max-width: 300px) {
  .topbar .center {
    display: none;
  }
}

.topbar .right .topbar_icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor:pointer;
 
}
.topbar .right .topbar_icons *{
  color: var(--secondary-1);
}
.topbar .right .topbar_icons .login{
  text-decoration:none;
}
.topbar .right .topbar_icons img {
  width: 40px;
  border-radius: 100%;
  height: 50px;
}

@media screen and (min-width: 920px) {
  .topbar .left .menu_icon {
  display: none;
  }
  .topbar .left .logo {
    display:block;
    font-size: 2rem;
    color: var(--primary-1);
    text-decoration: none;
  }
  .topbar .right .topbar_icons {
    gap: 1rem;
  }
}
