.topbar {
  display: flex;
  height: 12vh;
  font-size: 1.7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 50;
  background: #fff;
  top: 0;
  left: auto;
  width: 100%;
  padding: 0 1rem;
  max-width: 1400px;
}
.topbar .left {
  cursor: pointer;
}
.topbar .center {
  overflow: hidden;
}
.topbar .center .logo {
  font-size: 3rem;
  font-weight: 500;
  opacity: 0.2;

  letter-spacing: 4px;
  color: rgb(13, 164, 63);
  background: -webkit-linear-gradient(rgb(3, 90, 71), rgb(4, 59, 86));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 300px) {
  .topbar .center {
    display: none;
  }
}

.topbar .right .topbar_icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor:pointer;
 
}
.topbar .right .topbar_icons *{
  color: var(--primary-2);
}
.topbar .right .topbar_icons .login{
  text-decoration:none;
}
.topbar .right .topbar_icons img {
  width: 40px;
  border-radius: 100%;
  height: 50px;
}

@media screen and (min-width: 920px) {
  .topbar .left {
    display: none;
  }
  .topbar .logo {
    opacity: 0.5;
    font-size: 2rem;
  }
  .topbar .right .topbar_icons {
    gap: 1rem;
  }
}
