.widget .section_1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.widget .section_1 .box {
  box-shadow: 0 2px 4px #d8d8d8;
  padding: 1rem;
}
.widget .section_1 .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget .section_1 .changes {
  display: grid;
  gap: 10px;
}
.widget .section_1 .changes span:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}
.widget .section_1 .changes span.red {
  color: red;
}
.widget .section_1 .changes span.green {
  color: var(--primary-1);
}

/* students  */
.widget .section_2 {
  margin-top: 2rem;
}
.widget .new_students {
  display: grid;

}
.widget .new_students .students {
  box-shadow: 0 2px 12px rgba(199, 198, 197, 0.4);
  display: grid;
  gap: 2rem;
  width: 100%;
  max-width: 500px;
margin-top: 1rem;

}
.widget .new_students .student {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.widget .new_students .student .title {
  display: grid;
  flex: 1;
  gap: 5px;
}
.widget .new_students .student .title span:first-child {
  font-weight: 500;
}
.widget .new_students .student .class {
  flex: 1;
}
.widget .new_students .heading {
  color: var(--primary-2);


}
.widget .new_students .students .more {
  color: var(--primary-1);
}

/* chart  */
.widget .chart {
  height: 300px;

}
.widget .chart .heading {
  width: fit-content;
  color: var(--primary-2);
  margin-bottom: 2rem;
}

/* media queries  */

@media screen and (min-width: 1050px) {
  .widget .section_2 {
    display: flex;
    align-items: start;
    gap: 1rem;
  }
  .widget .section_2 .new_students {
    flex: 1;
  }
  .widget .section_2 .chart {
    flex: 1;
    width: 200px;
  }
}
