
.widget .section_1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
.widget  .section_1 .box{
    box-shadow: 0 2px 4px #d8d8d8;
    padding: 1rem;
    
}
.widget  .section_1 .heading{
display: flex;
justify-content: space-between;
align-items: center;

}

.widget  .section_1 .changes{
    display: grid;
    gap: 10px;
}
.widget  .section_1 .changes span:nth-child(1){
    display: flex;
    align-items: center; 
    gap: 10px;
}
.widget  .section_1 .changes span.red{
    color: red;
}
.widget   .section_1 .changes span.green{
    color: rgb(15, 173, 15);
}


/* users  */
.new_users{
    display: grid;
    /* place-items: center; */
    gap: 5px;
    width: 100%;
    }
    .new_users .users{
       box-shadow: 0 2px 12px rgba(138, 137, 136, 0.4);
        display: grid;
        gap: 2rem;
        padding: 1rem;
        width: 100%;
      max-width: 500px;
    }
    .new_users .user {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      gap: 1rem;
      }
   .new_users .user .title{
    display: grid;
    flex: 1;
    gap: 5px;
   }
   .new_users .user .title span:first-child{
    font-weight: 500;
   }
   .new_users .user .email{
    flex: 1;
   }
    .new_users .heading{
      color:var(--primary-2);

    }
    .new_users .users .more{
        color: var(--secondary-1);
     
    }
    
  
   
   
/* chart  */
.widget .chart{
    height: 300px;
}
.widget .chart .heading{
width: fit-content;

color: var(--primary-2);
}


/* media queries  */
@media screen and (min-width:1000px) {
    .section_2{
    display: flex;
    align-items: start;
    gap: 1rem;
    }
    .section_2 .new_users{
      flex: 1;
    }
    .section_2 .chart{
       flex: 2;
       width: 200px;
    }
  
}