
.product form{
    display: grid;
    gap: 1rem;
   max-width: 400px;
  width:100%;
  margin: 1rem auto;
}


.product  img{
width: 200px;
height: 200px;
border-radius: 100%;
}

.product  .form_control{
   display: grid;
   gap: 10px;
}
.product .form_control select{
    width: fit-content;
}
.product  .update_btn {
    padding: 5px 10px;
    background: var(--primary);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.4rem;
    margin: 0 auto;
  cursor:pointer;
}
.product .update_btn:disabled{
    opacity: 0.5;
}


