.featured{
    position: relative;
    padding: 10px 10px;
display: flex;
flex-wrap: wrap;
gap:2rem;
justify-content: center;
/* width:100%; */
}

.featured .featured_item{
 text-align: center;
    padding: 18px;
    box-shadow: 0 2px  11px rgba(0, 0, 0, 0.2);
max-width:270px;
width:100%;
}


.featured .featured_item .title{
margin-top: 0;
}
.featured .amount_container {
    display: flex;
    align-items: center;
  justify-content: space-around;
    margin: .7rem 0;
}
.featured .amount_container .rate{
display: flex;
align-items: center;
}
.featured .amount_container .amount{
    font-size: 1.5rem;
    font-weight: 500;
}
.featured .amount_container .rate .down{
    color: red;
}


@media screen and (min-width:760px) {
   .featured .amount_container {
  gap: 4rem;
   }
}
