
.edit_user {
  max-width: 400px;
  width: 100%;
  margin:0 auto;
}

.edit_user .heading{
  text-align: center;
}
.edit_user form{
  display: grid;
  gap: 1rem;
}


.edit_user form .form_control {
  display: grid;
  gap: 5px;
}


.edit_user  .form_control input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 4px 14px;
}

.edit_user form .update ,.edit_btn{
  background: var(--primary);
  border: none;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 15px;
  margin: 1rem 0;
  width: fit-content;
}
.edit_user form .update:disabled{
  opacity: .5;
}


/* user page  */
.user{
  display: grid;
  place-items: center;
}
.user .info{
  display: grid;
  place-items: center;
  gap: 1rem;
}
.edit_btn{

}