
.user{
    width: 100%;
}
.user .user_container {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.user .user_container .user_profile {
  display: grid;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  box-shadow: var(--shadow-1);
}
.user_container .user_profile .header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.user_container .user_profile .header .title * {
  display: block;
  margin: 5px 0;
}
.user .user_container .user_profile .header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user_container .user_profile .user_details {
  display: grid;
  gap: 1.5rem;
}
.user_container .user_profile .user_details span {
  display: flex;
  gap: 1rem;
}

.user .user_container form {
  box-shadow: var(--shadow-1);
  padding: 10px;
  /* max-width: 400px; */
  width: 100%;
  display: grid;
  place-items: center;
}

.user .user_container form .left {
  display: grid;
  gap: 10px;
}

.user_container form .form_control {
  display: grid;
}

.user_container form .form_container {
  display: grid;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
}

.user_container form .form_control input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 4px 14px;
}
.user_container form .right {
  display: grid;
  gap: 1rem;
  /* place-items: center; */
}

.user_container .right .form_control input {
  border: none;
  width: 150px;
}
.user_container .right .form_control img {
  max-width: 200px;
  height: 100px;
  width: 100%;
  border-radius: 10px;
}

.user_container .right .update {
  width: 150px;
  background: var(--primary);
  border: none;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 2px;
  height: 3rem;
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .user {
    padding: 0 1rem;
  }

  .user .user_container {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1050px) {
  .user_container form .form_container {
    display: flex;
    justify-content: space-evenly;
    /* flex: 3; */
  }
}
