.edit_teacher{
  padding:0 10px;
}
.edit_teacher form{
    display: grid;
    gap: 1rem;
   max-width: 400px;
  width:100%;
  margin: 1rem auto;
 
}


.edit_teacher  img{
width: 200px;
height: 200px;
object-fit: cover;
}

.edit_teacher  .form_control{
   display: grid;
   gap: 10px;
}
.edit_teacher .form_control select{
    width: fit-content;
}
.edit_teacher  .update_btn {
    padding: 5px 10px;
    background: var(--primary-1);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.4rem;
    margin: 0 auto;
  cursor:pointer;
}
.edit_teacher .update_btn:disabled{
    opacity: 0.5;
}


/* productlist  */


.teachers_list .table {
    margin: 0 auto;
   max-width: 1000px;

}
.teachers_list .table .action{
    display: flex;
    gap: 1rem;
    align-items: center;
    border: none;
}
.teachers_list .table .teacher_edit{
    background: green;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    text-decoration:none;
}
.teachers_list .table .teacher_delete{
    color: red;
    margin-left:2rem;
    cursor:pointer;
}
.teachers_list .table .teacher_image{
 
    width:100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
/* new product  */
.new_teacher{
    display: grid;
  padding:0 10px;
}
.new_teacher .heading{
    text-align: center;
    color:var(--primary-1)
}
.new_teacher form {
    margin: 0 auto;
    display: grid;
    gap: 15px;
max-width: 500px;

}
.new_teacher form .form_control{
    display: grid;
    gap: 5px;
}

.new_teacher form .create_btn{
    margin: 1rem 0;
    padding:10px  15px;
    width: fit-content;
    border: none;
    font-size: 1.4rem;
    background: var(--primary-1);
    border-radius: 5px;
    color: #fff;
    cursor:pointer;
}
.new_teacher form .create_btn:disabled{
    opacity:0.5;
}
.new_teacher form .form_control .select  {
    width: 140px;
}