.edit_student {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.edit_student .heading {
  text-align: center;
}
.edit_student form {
  display: grid;
  gap: 1rem;
}

.edit_student form .form_control {
  display: grid;
  gap: 5px;
}

.edit_student .form_control input {
  outline: none;
  border: none;
  border: 1px solid rgb(215, 214, 214);
  padding: 8px 14px;
}

.edit_student form .update,
.edit_btn {
  background: var(--primary-1);
  border: none;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 15px;
  margin: 1rem 0;
  width: fit-content;
}
.edit_student form .update:disabled {
  opacity: 0.5;
}

/* student page  */
.student {
  display: grid;
  place-items: center;
}
.student .info {
  display: grid;
  place-items: center;
  gap: 1rem;
}
.edit_btn {
}

/* students  */
.students_table{
  height: 480px;
    padding: 1rem 2rem;
    width: 100%;
background: #fff;
overflow-x: scroll;
}

.students_table .edit{
    margin-right: 10px;
}

.students_table .students_student{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.students_table .students_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.edit{
    background:green;
    color:#fff;
    border:none;
    padding:4px;
    border-radius: 4px;
    text-decoration: none;
}
.delete{
    color:red;
    margin-left:2rem;
    cursor: pointer;
}

/* new student  */
.new_student {
    width: 100%;
    transition: .4s;
    padding:  10px;
 }
 
 .new_student .heading{
    text-align: center;
    color: var(--primary-1);
   
 }
 .new_student form{
width: 100%;
    display: grid;
    gap: 1rem;
max-width: 400px;
margin:0 auto;
 }


 .new_student form .form_control{
    display: grid;
    gap: 5px 0;
 }
 .new_student .form_control label{
    font-weight: 500;
 }
 .form_control input{
    outline: var(--primary-1);
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1rem;
    width:100%;
 }

 .new_student form  .create{
    width: 150px;
    font-size: 1.4rem;
    border: none;
    background: var(--primary-1);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor:pointer;
 }
 .new_student form  .create:disabled{
   opacity:0.5;
 }