.sidebar_container {
  padding: 9px;
  top: 12vh;
  position: fixed;
  width: 0;
  transition: 0.4s;
  z-index: 9;
  left: -50%;

  background: white;
 height: 88vh;
 overflow-y: scroll;
  border-right: 1px solid rgb(229, 225, 225);
 color: #000;
}

::-webkit-scrollbar {
  display: none;
}
.sidebar_container_active {
  width: 100%;
  max-width: 300px;
  z-index: 2;
  transition: 0.4s;
  left: 0;
  padding-left: 2rem;
}



.other_content {
  transition: 0.4s;
  min-height:88vh;
}
.push_other_content {
  transition: 0.3s;
  padding-left: 310px;
  width: 100%;

}

.sidebar_wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 height: 100%;
}
@media screen and (min-width: 920px) {
  .sidebar_container {
    left: auto;
    width:250px;
    z-index: 2;
    padding: 2rem;
  }

  .other_content {
    padding-left: 250px;
    width: 100%;
  }
 
}

.sidebar .sidebar_wrapper .top {
  display: grid;
  gap: 1rem;
}
.sidebar_wrapper .top .sidebar_links {
  display: grid;
  gap: 7px;
}
.sidebar_links .sidebar_title {
  font-weight: 500;
}
.sidebar_links .sidebar_link {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #000;
  text-decoration: none;
}
.menu_icon {
  display: none;
}


.sidebar_wrapper .bottom{
  display: grid;
  gap: 1rem;
  padding: 1rem 0;

}
.sidebar_wrapper .bottom .btm_link{
  text-decoration: none;
  display: flex;
  color: #000;
  gap: 1rem;
  align-items: center;
}