.sidebar_container {
  padding: 9px;
  top: 12vh;
  position: fixed;
  width: 0;
  transition: 0.4s;
  overflow: hidden;
  z-index: 9;
  left: -50%;
  background: #fff;
  height: 100vh;
  border-right: 1px solid rgb(229, 225, 225);
 
}

::-webkit-scrollbar {
  display: none;
}
.sidebar_container_active {
  width: 100%;
  max-width: 300px;
  z-index: 2;
  transition: 0.4s;
  left: 0;
  padding-left: 2rem;
}



.other_content {
  transition: 0.4s;
  min-height:88vh;
}
.push_other_content {
  transition: 0.3s;
  padding-left: 310px;
  width: 100%;
  overflow: hidden;
  min-height:88vh;
}

@media screen and (min-width: 920px) {
  .sidebar_container {
   
    left: auto;
    width:250px;
    background: #fff;
    z-index: 2;
    padding: 1rem;
  }

  .other_content {
    padding-left: 250px;
    width: 100%;
  }
 
}

.sidebar .sidebar_wrapper {
  display: grid;
  gap: 1rem;
}
.sidebar_wrapper .sidebar_links {
  display: grid;
  gap: 7px;
}
.sidebar_links .sidebar_title {
  font-weight: 500;
}
.sidebar_links .sidebar_link {
  list-style: none;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #000;
  text-decoration: none;
}
.menu_icon {
  display: none;
}
