 .new_user {
    padding: 10px;
    width: 100%;
    transition: .4s;
 }
 
 .new_user .header{
    text-align: center;
    color: var(--primary);
 }
 .new_user form{
width: 100%;
   background: ;
    display: grid;
    gap: 1rem;
padding: 1rem;
box-shadow: var(--shadow-1);
max-width: 400px;
place-items: center;
margin: 1rem auto;

 }

 .new_user form .left, .new_user form .right{
    display: grid;
    gap: 1rem;
    max-width: 400px;
    width: 100%;

 }
 .new_user form .form_control{
    display: grid;
    gap: 5px 0;
 }
 .new_user .form_control label{
    font-weight: 500;
 }
 .form_control input{
    outline: var(--primary);
    border: 1px solid #ddd;
    padding: 15px;
    font-size: 1rem;
 }
.new_user form .left .gender .options{
display: flex;
gap: 1rem;
margin-top: 10px;

}
 .new_user form .right .active_status{
   border: 1px solid #ddd;
   outline: none;
border: none;
width: 200px;
height: 50px;

 }
 .new_user form .right .active_status .option{
  
   
 }
 .new_user form .right  .create{
    width: 150px;
    font-size: 1.4rem;
    border: none;
    background: var(--primary);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
 }

 @media screen and (min-width:750px) {
    .new_user form{
        display: flex;
        align-items: flex-start;
     justify-content: space-around;
   max-width: 100%;
    }
 }