@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;600;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,500;1,900&family=Shadows+Into+Light&family=Ubuntu:wght@300;400;700&display=swap");

/* font-family: 'Anek Malayalam', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Ubuntu', sans-serif; */

html {
  /* overflow-y: scroll; */
}

:root{
  --primary: rgb(41, 174, 158);
  --light-1: rgb(252, 251, 238);
  --shadow-1: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

*{
  box-sizing: border-box;
}
body {


  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  width: 12px;

}
.app{
display: flex;
width: 100%;
justify-content: center;

}
.app .app_main{
display: flex;
max-width:1400px;
width: 100%;
margin-top:15vh;
}
