.homepage {
  position: relative;
  padding:10px;
}

.homepage .heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage .heading h2{
  color: var(--primary-2);
}

.homepage .heading .date{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.homepage .date select{
padding: 5px;
  outline: none;
}
.homepage .date button{
  background: var(--primary-2);
  border: none;
  color: aliceblue;
  padding: 5px 10px;
}

.homepage .orders{
  margin-top: 4rem;
}
.homepage .orders h2{
  color: var(--primary-2);
}