.homepage {
  position: relative;
  padding:10px;
}

.homepage .heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage .heading {
  color: var(--primary-2);
}

.homepage .heading .date{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.homepage .date select{
padding: 5px;
  outline: none;
}
.homepage .date button{
  background: var(--primary-2);
  border: none;
  color: aliceblue;
  padding: 5px 10px;
}


.homepage .transactions h2{
  color: var(--primary-2);
}


.homepage .most_sales .heading{
  color: var(--primary-2);
   
}

@media screen and (min-width:1000px) {
  .homepage .transactions{
    margin-top:6rem;
  }
  .homepage{
    padding:0 1.5rem;
  }
  .homepage .most_sales .data{
    display: grid;
    width: 100%;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
  }
  .homepage .most_sales .chart{
  max-width: 400px;
  }

}