.homepage {
  position: relative;
}

.homepage .home_content {
  padding: 1rem;
  margin-top: -2rem;
  display: grid;
  width: 100%;
}
.home_content h2 {
  text-align: center;
}

@media screen and (min-width:1200px) {
  .chart_and_featured{
    display:flex;
justify-content: center;
max-width: 1000px;
width: 100%;
}
}

